@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3> Wellington Vicencio de Deus</h3>

<address>
    Desenvolvedor Full-Stack Jr<br />
    São Paulo , Brasil<br />
    <abbr title="Phone"> Phone: 11 99956-4870 </abbr>
</address>

<address>
    <strong>Support:</strong> <a href="">wellington.vicencio@uni9.edu.br</a><br />
</address>
